.contribution{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 20px;
    /*max-width: 1400px;*/
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.contribution-wrapper{
    width: 76rem;
    overflow: hidden;
}
/*.contribution-wrapper,*/
.contribution{
    background-image: linear-gradient(to top,white 20%,#f3f2f1);
}
.cards-pill{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}
.cards-and-instruction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /*margin-top: 30px;*/
}
.instruction{
    /*margin-top: 20px;*/
    min-height: 23px;
    font-style: italic;
    color: #4a4a4a;
}
.cards{
    position: relative;
    max-width: 700px;
    height: 275px;
    width: 100%;
}
.card{
    padding:0 100px;
    position: absolute;
    left: 0;

    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;

    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.05);
    overflow: auto;
    word-wrap: break-word;
    background: white;

    opacity: 1;
    /*transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),*/
    /*opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);*/

}
.card-dimension{
    padding: 0 20px;
    /*box-sizing: border-box;*/
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    /*font-weight: 600;*/
    line-height: 1.38;
    font-size: 32px;
    background: none;
    color: black;
    position: relative;
    align-items: center;
    justify-content: center;
    /*text-align: center;*/
    /*transform: scale(1) translateX(0%);*/
    /*opacity: 1;*/
}

.button-listen{
    margin-bottom: 50px;
    justify-content: center;
}
.canvas-listen{
    position: absolute;
    width: 100% !important;
    max-width: calc(1400px - 40px);
    mask-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0) 3%,
            black,
            rgba(0, 0, 0, 0) 97%
    );
    align-items: center;
}
button.vote-button{
    border: none;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 2;
    background: white;
    width: 100px;
    height: 46px;
}
button.vote-button path{
    /*transition: all .2s linear;*/
}
.yes{
    box-shadow: 0 5px 10px
            rgba(89,203,193,.3);

}

.yes:hover,
.yes:active{
    background: #59cbb7;
    box-shadow: 0 5px 10px
    rgba(89,203,193,.7);
    color:white;

}
.yes:hover path{
    fill: white;
}
.no{
    box-shadow: 0 5px 10px
        rgba(255,79,94,.2);
}
.no:hover,
.no:active path{
    background: #ff4f5e;
    box-shadow: 0 5px 10px
        rgba(255,79,94,.6);
    color:white;
}
.no:hover path{
    fill: white;
}
button.edit-button{
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    border-radius: 50%;
    max-width: 50px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f2f1;
}
/*button.edit-button svg{*/
/*    margin-inline-end: 20px;*/
/*    !*width: 18px;*!*/
/*}*/
button.edit-button path{
    /*margin-inline-end: 20px;*/
    /*width: 18px;*/
    fill: black;
    /*background: black;*/
}
.text-area{
    padding: 0 20px;
    /*box-sizing: border-box;*/
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    /*font-weight: 600;*/
    line-height: 1.38;
    font-size: 32px;
    background: white;
    color: black;
    /*height: 500px;*/
    /*resize: none;*/
    /*transform: scale(1) translateX(0%);*/
    /*opacity: 1;*/
}
.button-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
button.skip{
    display: flex;
    cursor: pointer;

    border-radius: 50px;
    width: 178px;
    height: 57px;

    font-family: Open Sans, sans-serif;
    font-weight: 600;

    font-size: .9rem;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    border: 1px solid rgba(0,0,0,.1);
}
button.skip:hover{
    border: 1px solid black;
}
.voted-list{
    position: relative;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.contents{
    height: 100%;
    align-items: center;
    display: flex!important;
}
/*.contents svg path{*/
/*    fill: #959595;*/
/*}*/
.contents svg path{
    /*fill:#59cbb7*/
}
