.primary-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: 0 18px;*/
    outline: none;
    /*background-image: linear-gradient(0deg, #fff 20%, #f3f2f1);*/
}


.background {
    position: absolute;
    margin: 0 auto;
    border-radius: 50%;
    width: 109px;
    height: 109px;
    filter: blur(7.6px);
    transition: opacity .2s linear;
    opacity: 0.7;
    /*background-image: linear-gradient(to left, #88d1f1, #b1b5e5);*/
    background: linear-gradient(90deg,#f89096,#b1b4e5);
}
.backgroundPlay{
    position: absolute;
    margin: 0 auto;
    border-radius: 50%;
    width: 109px;
    height: 109px;
    filter: blur(7.6px);
    transition: opacity .2s linear;
    opacity: 0.7;
    background-image: linear-gradient(90deg, #88d1f1, #b1b5e5);
}

button.record {
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 2;
    border: none;
    border-radius: 50%;
    width: 88px;
    height: 88px;
    background: white;
    opacity: 1;
    cursor: pointer;
}
button.listen {
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 2;
    border: none;
    border-radius: 50%;
    width: 88px;
    height: 88px;
    background: white;
    opacity: 1;
    cursor: pointer;
}
button.listen svg{
    height: 22px;
}
button.listen:hover{
    background-color: #59cbb7;
}
button.listen:hover svg path{
    fill: white;
}
button.record:hover{
    background-color: #ff4f5e;
}
button.record:hover path{
    fill: white;
}
.button-ready {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    z-index: 2;
    border: none;
    border-radius: 50%;
    width: 88px;
    height: 88px;
    background: #1890ff;
    opacity: 1;
    cursor: pointer;
    margin-top: 3em;
}

