.ant-popover-inner-content {
    background-color: black;
    /* width: 100px;
    height: 100px; */
}

.chatroom {
    background-image: linear-gradient(0deg, #fff 20%, #f3f2f1);
}

.ant-popover-arrow {
    color: black;
}

.primary-buttons {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    position: absolute;
    width: 100% !important;
    max-width: calc(1400px - 40px);
    mask-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0) 3%,
            black,
            rgba(0, 0, 0, 0) 97%
    );
}

.submit-button {
    display: flex;
    margin: 2rem;
    /*position: relative;*/
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    /*background: white;*/
}

.reject-buttons {
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 50px;
    width: 178px;
    height: 57px;
    color: white;
    background: #d6381c;
    text-transform: uppercase;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    margin-right: 15px;
}

.reject-buttons:disabled {
    background-color: #d09b91;
    cursor: not-allowed;
}

.buttons {
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 50px;
    width: 178px;
    height: 57px;
    color: white;
    background: #4079d3;
    text-transform: uppercase;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
}
.buttons:hover{
    background: #1c6ddf;
}
.buttons:disabled{
    background-color: #cad6e7;
    cursor: not-allowed;
}
.buttonDisabled {
    pointer-events: none;
}
.pill{
    border-radius: 29px;
    box-sizing: border-box;

    width: 170px;
    height: 57px;

    flex-shrink: 0;
    display: flex;
    /*flex-direction: row-reverse;*/
    justify-content: center;
    align-items: center;

    overflow: hidden;
}
.pill.done{
    background: white;
}
.pill.done.contents{
    display: flex !important;
    height: 100%;
    align-items: center;
}
.pill.done.recording.contents.padder{
    /*display: inline-block;*/
    /*border-inline-start: 1px solid #f3f2f1;*/
    /*padding: 0 16px;*/
}
/*.play{*/
/*    fill:#59cbb7;*/
/*}*/
.padder{
    display: inline-block;
    border-inline-start: 1px solid #f3f2f1;
    padding: 0 16px;
}
.placeholder{
    width: 110px;
}
button{
    border: none;
    padding: 0;
    height: 100%;
    background: none;

    cursor: pointer;
    outline: none;
}
button.play:hover path{
    fill: #59cbb7;
}
button.redo:hover path{
    fill: #ff4f5e;
}
button.share:hover path{
    fill: #629ff4;
}
.pill.num{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-weight: 600;

    color: #4a4a4a;
}
.infinite-container{
    background-color: #f9f9f9;
    border: 2px solid #dedede;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
