.dropzone {
    outline: none;
}

#content {
    position: relative;
    min-height: 80vh;
    /*background: #f6f7ff;*/
    /*height: 100%;*/
}

.speech-to-text-main {
    max-width: 76rem;

    /*padding-top: 107px;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 1rem;
}
.get-audio{
    /*display: flex;*/
    /*width: 200vw;*/
}
.title-and-search{
    display: block;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
}
.hr{
    border: none;
    margin: 1.5rem 0;
    width: 100%;
    height: 1.5px;
    background: rgba(230,229,227,0.6);
}
.dropzone{
    display: flex;
    background: #f6f7ff;
    cursor: pointer;
    position: absolute;
    width: 50%;
    height: 30%;
    box-sizing: border-box;
    /*justify-content: center;*/
    align-items: center;
}
.dropzone:hover{
    border: 3px dotted #d0d0d0;
    margin: -2px;
}
section{
    display: block;
}
.renderAudio{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: aqua;
    padding: 20px 0;
}
.containerAudio{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

